---
import "../styles/home.scss";

const title = "lumi";
const description = "*woof*";
const canonicalURL = new URL(Astro.url.pathname, Astro.site);

import { getImage } from "astro:assets";
import starry from "../../public/starry.jpg";
import TooltipText from "../components/TooltipText.astro";
const starrybg = await getImage({ src: starry });

const MS_PER_YEAR = 1000 * 60 * 60 * 24 * 365.2425;
const years_old: number = Math.floor(
  (Date.now() - new Date("2005-03-17").getTime()) / MS_PER_YEAR
);
---

<!DOCTYPE html>
<html>
  <head>
    <!-- Global Metadata -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <!-- Canonical URL -->
    <link rel="canonical" href={canonicalURL} />

    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta name="author" content="lumi" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <!-- Twitter -->
    <meta property="twitter:card" content="summary" />
  </head>

  <body>
    <!-- background -->
    <div class="bgcontainer">
      <div class="bg">
        <div class="image" style={`background-image: url(${starrybg.src})`}>
        </div>
      </div>
    </div>

    <!-- content -->
    <main lang="en">
      <div class="upperbar"></div>
      <div class="title">
        <h1>lumi }</h1>
        <a href="/blog">“</a>
      </div>
      <div class="text">
        <p>
          a {years_old} yo <TooltipText className="glitch" text="puppy" tooltip="fem" />thing.
        </p>
        <p>
          trans girly w the best <span class="gf">gf</span>. very needy for lots
          of physical affection. especially the kind one'd give to a <span
            class="glitch">puppy</span
          >.
        </p>
        <p>
          talks in 3rd person when comfy, sometimes. a bit childish n immature,
          do treat it as such. no <span class="strikethrough">mature</span> stuff
          like <span class="strikethrough">woman</span>, <span
            class="strikethrough">miss</span
          >, <span class="strikethrough">maam</span>, <span
            class="strikethrough">beautiful</span
          >, <span class="strikethrough">hot</span>, etc. girl, cute, dummy,
          <span class="glitch">puppy</span> are what makes its tail wag.
        </p>
        <p>
          sometimes programs. not as often anymore. stopped being enjoyable
          almost always. uses:
          <ul>
            <li>
              c++: writing <a href="https://github.com/lumikalt/ranges"
                >meta stuff</a
              > is adorable.
            </li>
            <li>
              rust: bestest lang. proudest code is an <a
                href="https://github.com/lumikalt/scratchy">emulator</a
              >
              for risc-v asm.
            </li>
          </ul>
        </p>
      </div>
    </main>
  </body>
</html>
