---
const title = "lumi";
const description = "*woof*";
const canonicalURL = new URL(Astro.url.pathname, Astro.site);

import { Image } from "astro:assets";
import puppy from "../../public/puppy.png";
import "../styles/newhome.scss";

const MS_PER_YEAR = 1000 * 60 * 60 * 24 * 365.2425;
const years_old: number = Math.floor(
  (Date.now() - new Date("2005-03-17").getTime()) / MS_PER_YEAR
);
---

<!DOCTYPE html>
<html>
  <head>
    <!-- Global Metadata -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <!-- Canonical URL -->
    <link rel="canonical" href={canonicalURL} />

    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta name="author" content="Lumi Kalt" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
  </head>

  <body>
    <main>
      <div class="avatar">
        <Image src={puppy} class="i1" alt="" height="500" width="500" loading="lazy" draggable="false" />
        <Image src={puppy} class="i2" alt="" height="500" width="500" loading="lazy" draggable="false" />
        <Image src={puppy} class="i3" alt="" height="500" width="500" loading="lazy" draggable="false" />
        <Image src={puppy} class="i4" alt="" height="500" width="500" loading="lazy" draggable="false" />
      </div>
      <span class="about">a {years_old} yo <abbr title="yes, really." class="puppy">puppy</abbr>thing from portugal.</span>
    </main>
  </body>
</html>
